/*
Developed by
YOBA

*/
/* 
    Created on : 28 лют 2014, 10:56:34
    Author     : YOBA
*/

#page-landing .bg-left-part{
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.8) 57%, rgba(0,0,0,0.8) 88%, rgba(0,0,0,0) 89%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(56%,rgba(0,0,0,0)), color-stop(57%,rgba(0,0,0,0.8)), color-stop(88%,rgba(0,0,0,0.8)), color-stop(89%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.8) 57%,rgba(0,0,0,0.8) 88%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.8) 57%,rgba(0,0,0,0.8) 88%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.8) 57%,rgba(0,0,0,0.8) 88%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.8) 57%,rgba(0,0,0,0.8) 88%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

#page-landing .bg-right-part{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.8) 85%, rgba(0,0,0,0.8) 88%, rgba(0,0,0,0) 89%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(42%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,0.8)), color-stop(88%,rgba(0,0,0,0.8)), color-stop(89%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.8) 85%,rgba(0,0,0,0.8) 88%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.8) 85%,rgba(0,0,0,0.8) 88%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.8) 85%,rgba(0,0,0,0.8) 88%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.8) 85%,rgba(0,0,0,0.8) 88%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

#page-landing.h-block{
  
}

#content-layer .main-content .page-holder.content{
  
}

#page-landing .page-holder > div{
  
}
#page-landing .slogan{
  width:230px;
  height:95px;
  top:350px;
  left:70px;
}

#page-landing .bottles{
  width:362px;
  height:580px;
  left:320px;
  top:-20px;
}

#page-landing .mech{
  width:250px;
  height:400px;
  top:90px;
  right:50px;
}

#page-landing .mech .display{
  width:100%;
  height:240px;
}

#page-landing .mech .controlls{
  height:100px;
  text-align:center;
}

#page-landing .mech .controlls button{
  width:80%;
  margin-top:7px;
  font-size:16px;
  padding-top:4px;
}

#page-landing .mech .display > div{
  display:none;
}

#page-landing .mech .display .pict{
  width:100%;
  height:auto;
  text-align: center;
}
#page-landing .mech > div {
  
  text-align: center;
}

#page-prizes{
  
}

#page-prizes .bg-left-part,#page-prizes .bg-right-part
{
  height:440px;
  
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 26%, rgba(0,0,0,0.8) 100%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(0,0,0,0)), color-stop(26%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.8) 26%,rgba(0,0,0,0.8) 100%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.8) 26%,rgba(0,0,0,0.8) 100%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.8) 26%,rgba(0,0,0,0.8) 100%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.8) 26%,rgba(0,0,0,0.8) 100%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#page-prizes-main .bg-left-part, #page-prizes-main .bg-right-part,
#page-mech .bg-left-part, #page-mech .bg-right-part
{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 19%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(19%,rgba(0,0,0,0)), color-stop(20%,rgba(0,0,0,0.8)), color-stop(99%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 19%,rgba(0,0,0,0.8) 27%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 19%,rgba(0,0,0,0.8) 27%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 19%,rgba(0,0,0,0.8) 27%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 19%,rgba(0,0,0,0.8) 20%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}



#page-prizes .page-holder{
  height:440px;
}

#page-prizes .page-holder > div,
#page-prizes-main .page-holder > div {
  
}

#page-prizes .prizes{
  width:100%;
  height: 325px;
  
  top:125px;
  text-align: center;
}

#page-prizes .prizes > div{
  width:195px;
  height:100%;
  display:inline-block;
  margin-left:20px;
  margin-right:20px;
  
}

#page-prizes .prizes .pic-cap,
#page-prizes .prizes .pic-tshirt,
#page-prizes .prizes .pic-ball,
#page-prizes .prizes .pic-bag{
  width:220px;
  height:210px;
  
  margin-left:-15px;
}

#page-prizes .prizes .pic-cap > div,
#page-prizes .prizes .pic-tshirt > div,
#page-prizes .prizes .pic-ball > div,
#page-prizes .prizes .pic-bag > div{
  height:20px;
  padding-top:170px;
  
}

#page-prizes .prizes .controlls{
  width:150px;
  height:auto;
  background: #404040;
  margin:auto;
}

#page-prizes .prizes .controlls button{
  width:100%;
}

#page-prizes .prizes .controlls .pnl{
  height:24px;
  font-size: 12px;
  padding-top:7px;
}

#page-prizes  .gold-arrow{
  width:100%;
  height:90px;
  border:1px solid #549878;
/*  margin-top:-100px;*/
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/gold-arrow.png');
  cursor:pointer;

}

#page-prizes .gold-arrow > div{
  width:900px;
  height:80px;
  margin:auto;
  position:relative;
  text-align:center;
  font-variant: small-caps;
  text-transform: uppercase;

  cursor:pointer;
}

#page-prizes-main{
  margin-top:-540px;
}


#page-prizes-main .gold-arrow-up{
  width:100%;
  height:55px;
  top:94px;
}
#page-prizes-main .gold-arrow-up > div{
  background: url('../images/small-arrow.png') top no-repeat;
  width:295px;
  height:50px;
  float:right;
  padding-top:15px;
  cursor:pointer;
}

#page-prizes-main .gold-arrow-up > div > div{
  height:20px;
  text-align: center;
}


#page-prizes-main .page-holder .container,
#page-mech .page-holder .container {

  width:100%;
  height:355px;
  top:145px;


}

#page-prizes-main .page-holder .container > div{
  width:100%;
  height:auto;
  text-align: center;
}

#page-prizes-main .caps{
  height:90px;
}

#page-prizes-main .caps .cap{
  width:80px;
  height:80px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top:28px;
  float:none;
  display:inline-block;
}

#page-prizes-main .caps .cap > div{
  width:100%;
  height:25px;
  text-align: center;
  color:black;
  font-size:22px;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 700;
  margin:auto;
}

#page-prizes-main .priz-bokals,
#page-prizes-main .priz-journey{
  width:233px;
  height:140px;
  background-repeat: no-repeat;
  background-position: top center;
}

#page-prizes-main .priz-bokals {
  background-image:url('../images/priz-glasses.png');
  float:right;
  margin-right:70px;
}

#page-prizes-main .priz-journey {
  background-image: url('../images/priz-journey.png');
  float:left;
  margin-left:50px;
}

#page-prizes-main .priz-bokals > div,
#page-prizes-main .priz-journey > div {
  width:100%;
  height:auto;
  bottom:40px;
  font-size: 12px;
  text-align: center;
  margin-top:110px;
  font-weight: 700;
}

#page-mech .container > div{
  display:inline-block;
  height:100%;
  width:auto;
  text-align: center;
}

#page-mech .container .bottle{
  width:150px;
  height:359px;
  left:50px;
}

#page-mech .container .bottle .main{
  background:url('../images/mech-bottle.png') left no-repeat;
}

#page-mech .container .bottle .front{
  background: none;
}

#page-mech .container .phone{
  width:100px;
  height:100px;
  left:230px;
  top:85px;
}

#page-mech .container .phone .main{
  background:url('../images/mech-phone.png') top no-repeat;
}

#page-mech .container .phone .front{
  background:url('../images/mech-phone-hover.png') top no-repeat;
}

#page-mech .container .gifts{
  width:100px;
  height:100px;
  left:375px;
  top:80px;
}

#page-mech .container .gifts .main{
  background:url('../images/mech-gifts.png') top no-repeat;
}

#page-mech .container .gifts .front{
  background:url('../images/mech-gifts-hover.png') top no-repeat;
}

#page-mech .container .stadium{
  width:150px;
  height:100px;
  left:500px;
  top:80px;
}

#page-mech .container .stadium .main{
  background:url('../images/mech-stadium.png') top no-repeat;
}

#page-mech .container .stadium .front{
  background:url('../images/mech-stadium-hover.png') top no-repeat;
}

#page-mech .container .regs > div,
#page-mech .container .gets > div,
#page-mech .container .wins > div{
  height:auto;
}

#page-mech .container .regs > div.ttl,
#page-mech .container .gets > div.ttl,
#page-mech .container .wins > div.ttl{
  margin-top:145px;
}

#page-mech .container .regs{
  
  width:150px;
  left:205px;
  position:absolute;
}

#page-mech .container .gets{
  
  width:130px;
  margin-left:0px;
  position:absolute;
  left:360px;
}

#page-mech .container .wins{
  
  width:150px;
  margin-left:0px;
  position:absolute;
  left:500px;
}

#page-mech .meh-icon{
 
}

#page-mech .container .countries{
  border:1px solid #444444;
  width:210px;
  height:325px;
  position:absolute;
  left:720px;
  top:20px;
  overflow:hidden;
}

#page-mech .container .countries .gold-panel{
  height:22px;
  font-size:16px;
  font-variant: small-caps;
  text-transform: uppercase;
  padding-top:3px;
}

#page-mech .container .countries .lbl{
  height:25px;
  padding-top:8px;
  font-size:14px;
  float:right;
  width:130px;
  border-bottom: 1px inset #222222;
  margin-right:10px;
  text-align:left;
}

#page-mech .container .countries .cap{
  width:30px;
  height:30px;
  margin-left:20px;
  margin-top:3px;
  
}

#page-mech .container .countries .cap > div{
  font-size:10px;
  font-weight: 700;
  margin-top:9px;
}

#page-mech .container .countries .h-line{
  float:right;
  width:130px;
  margin-right: 10px;
}

#page-mech .container .countries button{
  width:100%;
}

#page-chemp .container{
  
}

#page-chemp .bg-left-part, #page-chemp .bg-right-part
{
 background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.8) 3%, rgba(0,0,0,0.8) 98%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(2%,rgba(0,0,0,0)), color-stop(3%,rgba(0,0,0,0.8)), color-stop(98%,rgba(0,0,0,0.8)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0.8) 3%,rgba(0,0,0,0.8) 98%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0.8) 3%,rgba(0,0,0,0.8) 98%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0.8) 3%,rgba(0,0,0,0.8) 98%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0.8) 3%,rgba(0,0,0,0.8) 98%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


#page-chemp .countries-viewport{
  position: absolute;
  width:660px;
  height:425px;
  
  left:180px;
  top:30px;
  overflow:hidden;
  }
  #page-chemp .countries-viewport .counry{
    width:100%;
    height:100%;
    
  } 
  #page-chemp .countries-viewport .counry .info{
    width:560px;
    margin:auto;
    height: auto;
    
    min-height: 140px;
  }
   #page-chemp .countries-viewport .counry .info .gold-panel{
     font-size: 18px;
     text-align: center;
     font-variant: small-caps;
     text-transform: uppercase;
     font-family: serif;
     padding-top:2px; 
   }
   
   #page-chemp .countries-viewport .counry .info .cap{
     width:90px;
     height:90px;
     
     margin-left: 10px;
     margin-top:10px;
   }
   
   #page-chemp .countries-viewport .counry .info .cap > div{
     font-size:20px;
     color:black;
     margin-top:33px;
   }
   #page-chemp .countries-viewport .counry .info .facts{
     width:450px;
     height: auto;
     min-height: 110px;
     max-height: 145px;
     position: relative;
     margin-left: 110px;
   }
   
   #page-chemp .countries-viewport .counry .info .facts > div{
    height:auto;
    padding-top:8px;
    padding-bottom:3px;
    font-size:14px;
    
    width:96%;
    border-bottom: 1px inset #222222;
    margin-right:10px;
    text-align:left;
  }
  #page-chemp .arrow-left
  {
    left:5px;
    top:280px;
  }
  #page-chemp .arrow-right{
   right:5px;
   top:280px;
  }
  #page-chemp .chemps-viewport{
    position: absolute;
    width:580px;
    height:250px;
    left:40px;
    top:170px;
    overflow:hidden;
  }
  #page-chemp .chemps-viewport > div{
    width:3000px;
  }
  
  #page-chemp .chemps-viewport .chemp{
    width:580px;
    height:248px;
    display: inline-block;
    float:left;
  }

  #page-chemp .chemps-viewport .chemp .map-img{
    width:250px;
    height:250px;
    float:right;
  }
  #page-chemp .chemps-viewport .chemp .year {
    width:230px;
    height:auto;
    margin-top:70px;
    
  }
  #page-chemp .chemps-viewport .chemp .year > span{
    font-size: 14px;
  }
  
  #page-chemp .chemps-viewport .chemp .desc {
    width:320px;
    height:auto;
    margin-top:10px;
    font-size:14px;
  }
  
  #page-chemp .paginator{
    width:620px;
    height:60px;
    position:absolute;
    left:200px;
    top:460px;
    text-align: center;
  }
  
  #page-chemp .paginator .cap{
    width:40px;
    height:40px;
    float: none;
    display: inline-block;
    cursor:pointer;
  }
  #page-chemp .paginator .cap > div{
    margin-top:12px;
    font-size: 14px;
  }
  
  
  #page-chemp .paginator .cap.selected {
    width:60px;
    height:60px;
  }
  
  #page-chemp .paginator .cap.selected > div{
    margin-top:18px;
    font-size: 20px;
  }
  
  #page-chemp,#page-landing,#page-mech,#page-prizes{
    opacity: 0;
  }