/* 
    Created on : 24 лют 2014, 14:30:11
    Author     : YOBA
*/

input{
  margin:0;
  padding:0;
  top:0px;
  margin-top:0px;
  outline:none;
}

.panel{
  background: rgb(51,51,51); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(25,25,25,1) 100%, rgba(125,185,232,1) 100%, rgba(32,124,202,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(25,25,25,1)), color-stop(100%,rgba(125,185,232,1)), color-stop(100%,rgba(32,124,202,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(25,25,25,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(25,25,25,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(25,25,25,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(25,25,25,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
  border:1px solid #535353;
  -webkit-box-shadow: 5px 5px 20px 5px #000000;
  box-shadow: 5px 5px 20px 5px #000000;
}

button,#cabinet .logined-form .gold-panel:hover{
  background: rgb(170,121,3);  
  background: -moz-linear-gradient(25deg,  rgba(170,121,3,1) 0%, rgba(248,226,142,1) 24%, rgba(170,121,3,1) 51%, rgba(250,232,179,1) 78%, rgba(165,115,8,1) 100%); 
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(170,121,3,1)), color-stop(24%,rgba(248,226,142,1)), color-stop(51%,rgba(170,121,3,1)), color-stop(78%,rgba(250,232,179,1)), color-stop(100%,rgba(165,115,8,1)));  
  background: -webkit-linear-gradient(25deg,  rgba(170,121,3,1) 0%,rgba(248,226,142,1) 24%,rgba(170,121,3,1) 51%,rgba(250,232,179,1) 78%,rgba(165,115,8,1) 100%);  
  background: -o-linear-gradient(25deg,  rgba(170,121,3,1) 0%,rgba(248,226,142,1) 24%,rgba(170,121,3,1) 51%,rgba(250,232,179,1) 78%,rgba(165,115,8,1) 100%);  
  background: -ms-linear-gradient(25deg,  rgba(170,121,3,1) 0%,rgba(248,226,142,1) 24%,rgba(170,121,3,1) 51%,rgba(250,232,179,1) 78%,rgba(165,115,8,1) 100%);  
  background: linear-gradient(135deg,  rgba(170,121,3,1) 0%,rgba(248,226,142,1) 24%,rgba(170,121,3,1) 51%,rgba(250,232,179,1) 78%,rgba(165,115,8,1) 100%);  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa7903', endColorstr='#a57308',GradientType=1 );  
  border:1px solid #DBAD34;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 700; 
  height:28px;
  outline: none;
  min-width: 100px;
}

button:hover{
  background: rgb(170,121,3);  
  background: -moz-linear-gradient(top,  rgba(170,121,3,1) 0%, rgba(29,29,26,1) 29%, rgba(23,23,21,1) 100%);  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,121,3,1)), color-stop(29%,rgba(29,29,26,1)), color-stop(100%,rgba(23,23,21,1)));  
  background: -webkit-linear-gradient(top,  rgba(170,121,3,1) 0%,rgba(29,29,26,1) 29%,rgba(23,23,21,1) 100%);  
  background: -o-linear-gradient(top,  rgba(170,121,3,1) 0%,rgba(29,29,26,1) 29%,rgba(23,23,21,1) 100%);  
  background: -ms-linear-gradient(top,  rgba(170,121,3,1) 0%,rgba(29,29,26,1) 29%,rgba(23,23,21,1) 100%);  
  background: linear-gradient(to bottom,  rgba(170,121,3,1) 0%,rgba(29,29,26,1) 29%,rgba(23,23,21,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa7903', endColorstr='#171715',GradientType=0 ); 
  border:1px solid #2E2E2D;
  cursor:pointer;
  color:#CB9A20;
}

button.inactive{
  background: #1F1E1D;
  border:1px solid #303030;
  color:#505050;
  cursor:default;
}

#front-layer .dialog{
  width:400px;
  height:auto;
  position:absolute;
  left:0;
  top:0;
  text-align: center;
  display:none;
}

#front-layer .dialog .message{
  height:auto;
  width:360px;
  margin:auto;
  margin-top:20px;
}

#front-layer .dialog button{
  margin-top:20px;
  margin-bottom:20px;
}

.h-line{
  width:90%;
  height:1px;
  background:#464646;
  margin:auto;
}

.gold-panel{
  background: rgb(170,121,3); /* Old browsers */
  background: -moz-linear-gradient(25deg,  rgba(170,121,3,1) 0%, rgba(248,226,142,1) 24%, rgba(170,121,3,1) 51%, rgba(250,232,179,1) 78%, rgba(165,115,8,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(170,121,3,1)), color-stop(24%,rgba(248,226,142,1)), color-stop(51%,rgba(170,121,3,1)), color-stop(78%,rgba(250,232,179,1)), color-stop(100%,rgba(165,115,8,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(25deg,  rgba(170,121,3,1) 0%,rgba(248,226,142,1) 24%,rgba(170,121,3,1) 51%,rgba(250,232,179,1) 78%,rgba(165,115,8,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(25deg,  rgba(170,121,3,1) 0%,rgba(248,226,142,1) 24%,rgba(170,121,3,1) 51%,rgba(250,232,179,1) 78%,rgba(165,115,8,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(25deg,  rgba(170,121,3,1) 0%,rgba(248,226,142,1) 24%,rgba(170,121,3,1) 51%,rgba(250,232,179,1) 78%,rgba(165,115,8,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(170,121,3,1) 0%,rgba(248,226,142,1) 24%,rgba(170,121,3,1) 51%,rgba(250,232,179,1) 78%,rgba(165,115,8,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa7903', endColorstr='#a57308',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

button.gold-panel, button.gold-panel:hover{
  border:1px solid #DBAD34;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 700; 
  height:28px;
  outline: none;
  min-width: 100px;
  color:#000000;
  cursor:default;
}

.cap{
  background-image:url('../images/cap.png');
  background-repeat: no-repeat;
  background-size:contain;
  float:left;
}

.cap.shadowed{
  background-image:url('../images/cap_shadowed.png');
}

.cap > div{
  color:black;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;


}

.countries .cap{
  width:50px;
  height:50px;

  display:inline-block;
  cursor:default;
}

.countries .cap > div{
  width:100%;
  height:10px;
  margin-top:16px;
}

.panel2{
  background: -moz-linear-gradient(left,  rgba(64,64,64,0.56) 0%, rgba(64,64,64,0.56) 6%, rgba(0,0,0,0.57) 20%, rgba(0,0,0,0.59) 78%, rgba(64,64,64,0.6) 94%, rgba(64,64,64,0.6) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(64,64,64,0.56)), color-stop(6%,rgba(64,64,64,0.56)), color-stop(20%,rgba(0,0,0,0.57)), color-stop(78%,rgba(0,0,0,0.59)), color-stop(94%,rgba(64,64,64,0.6)), color-stop(100%,rgba(64,64,64,0.6))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(64,64,64,0.56) 0%,rgba(64,64,64,0.56) 6%,rgba(0,0,0,0.57) 20%,rgba(0,0,0,0.59) 78%,rgba(64,64,64,0.6) 94%,rgba(64,64,64,0.6) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(64,64,64,0.56) 0%,rgba(64,64,64,0.56) 6%,rgba(0,0,0,0.57) 20%,rgba(0,0,0,0.59) 78%,rgba(64,64,64,0.6) 94%,rgba(64,64,64,0.6) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(64,64,64,0.56) 0%,rgba(64,64,64,0.56) 6%,rgba(0,0,0,0.57) 20%,rgba(0,0,0,0.59) 78%,rgba(64,64,64,0.6) 94%,rgba(64,64,64,0.6) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(64,64,64,0.56) 0%,rgba(64,64,64,0.56) 6%,rgba(0,0,0,0.57) 20%,rgba(0,0,0,0.59) 78%,rgba(64,64,64,0.6) 94%,rgba(64,64,64,0.6) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f404040', endColorstr='#99404040',GradientType=1 ); /* IE6-9 */
}



.pic-cap , .pic-ball , .pic-bag , .pic-tshirt{
  background-position: center;
  background-repeat: no-repeat;
}
.pic-cap{
  background-image: url('../images/priz-cap.png');
}

.pic-tshirt{
  background-image: url('../images/priz-tshirt.png');
}

.pic-ball{
  background-image: url('../images/priz-ball.png');
}

.pic-bag{
  background-image: url('../images/priz-bag.png');
}

.shine{
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.68) 0%, rgba(255,255,255,0) 73%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.68)), color-stop(73%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.68) 0%,rgba(255,255,255,0) 73%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.68) 0%,rgba(255,255,255,0) 73%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.68) 0%,rgba(255,255,255,0) 73%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.68) 0%,rgba(255,255,255,0) 73%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.meh-icon{
  border:0px solid #ff0000;
  width:100px;
  height:100px;
  position:absolute;
}

.meh-icon > div.back,
.meh-icon > div.front,
.meh-icon > div.main{
  width:100%;
  height:100%;

}

.meh-icon > div.back{
  opacity: 0;
  position:absolute;
}

.meh-icon > div.front{
  opacity: 0;
  position:absolute;
  top:0px;
}

.meh-icon > div.main{
  position: absolute;
}

.meh-icon:hover .front{
  opacity:1;
}

.meh-icon:hover .back{
  opacity:1;
}

div.arrow-left,div.arrow-right{
  width: 23px;
  height:46px;
  cursor:pointer;
  position: absolute;
}
div.arrow-left{
  background-image: url('../images/arrow-left.png');
}
div.arrow-left:hover{
  background-image: url('../images/arrow-left-hover.png');
}
div.arrow-right{
  background-image: url('../images/arrow-right.png');
}
div.arrow-right:hover{
  background-image: url('../images/arrow-right-hover.png');
}

.map-br{
  background-image: url('../images/maps/br.png');
}

.map-it{
background-image: url('../images/maps/it.png');
}

.map-de{
background-image: url('../images/maps/de.png');
}

.map-ar{
  background-image: url('../images/maps/ar.png');
}

.map-uy{
  background-image: url('../images/maps/uy.png');
}

.map-fr{
  background-image: url('../images/maps/fr.png');
}

.map-es{
  background-image: url('../images/maps/es.png');
}

.map-en{
  background-image: url('../images/maps/en.png');
}