/* 
    Created on : 16.02.2014, 4:28:13
    Author     : shockresist
*/

html,body{
    color:#FFF;
    font-family: Arial,sans-serif;
}
html,body,div{
  margin:0;
  padding:0;
  border:0;
  width:100%;
  height:100%;
}

body{
  background: url('../images/bg_1920_3.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-color:#202020;
}

.allcaps {
font-variant: small-caps;
text-transform: uppercase;
}

.clr-yellow{
  color: #CB9C22;
}

.dev{
  /*border:0px solid #ff0000;*/
}

.layer{
  position:absolute;
  border:0px solid #f98472;
}

.layer .main-header{
  height:45px;
  position: relative;
}

.layer .main-menu{
  height:25px;
  position: static;
  margin-top:20px;
  font-size: 14px;;
  font-weight: 700;
}

.layer .main-menu .h-block > div > div{
  float:right;
  width:800px;
  padding-top:4px;
}

.layer .main-menu span{
  margin-left:20px;
  margin-top:3px;
  cursor:pointer;
}

.layer .main-menu{
    height:25px;
    position: static;
    margin-top:20px;
}

.layer .main-menu .h-block > div > div{
    /*  float:right;*/
    padding-left:180px;
    width:810px;
    padding-top:4px;
}

.layer .main-menu span{
    margin-left:7px;
    margin-top:3px;
    cursor:pointer;
    font: bold 13px "Arial Black";
    text-transform: uppercase;
}

.layer .main-menu .selected,
.layer .main-menu span:hover{
    color:#CB9C22;
}

.layer .main-content{
  border:0px solid #598294;
  height:640px;
  position: static;
  overflow:hidden;
}

.layer .main-footer{
  height:35px;
  position:static;
}

.h-block{
  height:auto;
 /*background: #000000;
  opacity: 0.5;*/
}

.layer .main-footer .h-block > div{
  text-align: center; 
  font-size: 12px;
  font-weight: 700;
  padding-top: 5px;
}

.layer .h-block{
  height:100%;
}

.layer .h-block > div.content{
  width:1000px;
  margin:auto;  
  
}

.logo{
  width:200px;
  height:250px;
  background-image: url('../images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
}

.slogan{
  height:95px;
  background-image: url('../images/slogan.png');
  background-position: center;
  background-repeat: no-repeat;
}

.bottles{
  background-image: url('../images/bottles.png');
  background-position: center;
  background-repeat: no-repeat;
}

.layer .main-header .logo{
  position: relative;
  float:left;
}

#background-holder{

}

#content-layer{

}

#content-layer .bg-left-part,#content-layer .bg-right-part{
  width:50%;
}

#content-layer .bg-left-part{
  float:left;
}

#content-layer .bg-right-part{
  float:right;
}

#content-layer .page-holder > div{
  position:relative;
  /*border:1px dashed #ff0000;*/
}

#content-layer .page-holder > div > div{
  position:absolute;
}

#front-layer{
  height: 0;
}



#cabinet{
  width:250px;
  height:auto;
  position: relative;
  float:right;
  margin-right: 52px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}

#cabinet > div{
/*  width:220px;*/
  margin:auto;
}

#cabinet .content{
  display:none;
  text-align: center;
/*  background: #899823;*/
}

#cabinet.opened .content{
  display:block;

}

#cabinet .content .title{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:14px;
  font-weight: 700;
  font-family: serif;
}

#cabinet .cap{
  float:none;
}

#cabinet .login-form div{
  width:auto;
  height:auto;
}

#cabinet .login-form > div{
  width: 100%;
  height:26px;
  margin-top:15px;
}

#cabinet .login-form .icon{
  width:20px;
  height:26px;
  background:#698479;
  margin-left:20px;
}

#cabinet .login-form > div > div{
  float:left;
}

#cabinet .icon.phone{
  background: url('../images/lf-phone.png');
}

#cabinet .icon.pass{
  background:url('../images/lf-pass.png');
}

#cabinet .login-form input{
  width:180px;
  margin-top:5px;
  margin-left:5px;
  background:none;
  border:0;
  border-bottom: 1px solid #BDBDBD;
  color:#ffffff;
}

#cabinet .login-form .error{
  height:20px;
  font-size:11px;
  margin-top:5px;
}

#cabinet .login-form .button-holder{
  height:45px;
  margin-top:5px;
}

#cabinet.logined .content{
  background: url('../images/cabinet_gifts.png') top no-repeat;
}

#cabinet .logined-form .gold-panel{
 margin-top:20px;
 margin-bottom:5px;
}



#cabinet .logined-form .order-btn{
  margin-top:50px;
  font-variant: small-caps;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom:20px;
}

#cabinet .logined-form .title{
  font-size: 16px;
}

#cabinet .logined-form .countries{
  text-align: center;
  height:170px;
  width:100%;
  margin-top:5px;
}

#cabinet .logined-form button.passport-btn{
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
}

#cabinet .grip{
  height:46px;
  text-align: center;
  font-size:13px;
  font-weight: 700;
  cursor:pointer;
}

#cabinet .grip > div {
  height:auto;
  padding-top:15px;
}

.layer.age-view{
  background-image: url('../images/shadow.png');
}

.layer.age-view .h-block > div.content{
  width:240px;
}

.layer.age-view .logo{
  background-size: 90%;
  background-position: center;
  margin: auto;
}

.layer.age-view .age-form{
  text-align: center;
  height:160px;
  margin-top:30px;
}

.layer.age-view .age-form div{
  font-size:14px;
  font-weight: 700;
  height: auto;
  margin-top:20px;
}

.left-part, .right-part{
  width:50%;
}
.left-part{
  float:left;
}
.right-part{
  float:right;
}